*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b6b6b;
    
}
.calculadora{
    width: 450px;
    height: 650px;
    background-color: #252525;
    border-radius: 15px;
}

.tela{
    height: 30%;
    padding: 20px;
}
.visor{
    width: 100%;
    height: 100%;
    color: white;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 55px;
}
.teclado{
    padding: 10px;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "";
    gap: 5px;
}
.teclas{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fffeff;
    background-color: #3d3d3d;
    border-radius: 10px;
    font-size: 20px;
    user-select: none;
}
.function{
    background-color: #353535;
}
.enter{
    font-size: 50px;
    grid-column: 4;
    grid-row: 3/6;
    color: #353535 ;
    background-color: #50c0fb;
}